.pixel-avatar {
  display: inline-block;
  overflow: hidden;
  background-color: var(--color-surface);
  border: 2px solid var(--color-border);
  image-rendering: pixelated;
}

.pixel-avatar--small {
  width: 32px;
  height: 32px;
}

.pixel-avatar--medium {
  width: 48px;
  height: 48px;
}

.pixel-avatar--large {
  width: 64px;
  height: 64px;
}

.pixel-avatar__svg {
  width: 100%;
  height: 100%;
  display: block;
}
